<body>
  <div class="container">
    <header class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Microscope</a>
      </div>
    </header>
    <div id="main">
      <div class="posts">
        <div class="post">
          <div class="post-content">
            <h3><a href="http://www.baidu.com">Baidu</a><span>baidu.com</span></h3>
          </div>
        </div>
        <div class="post">
          <div class="post-content">
            <h3><a href="http://www.bing.com">Bing</a><span>bing.com</span></h3>
          </div>
        </div>
        <div class="post">
          <div class="post-content">
            <h3><a href="http://www.google.com">Google</a><span>google.com</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
